# template .env copy to .env and fill in variables file not used for scripts
# disk
DISK=/dev/nvme0n1       # target disk; leave empty to be prmpted
BOOT_SIZE=1G            # default values for partitions
SWAP_SIZE=4G

# packages

# localization
TIMEZONE=Europe/Madrid
LOCALE=es_ES.UTF-8

# identity
HOSTNAME=forja
USER=template
ROOT_PASSWD=changeme
USER_PASSWD=changeme

